<div class="mdl-tabs">
    <div class="mdl-tabs__tab-bar">
        <a href="{{'/developer/apps'| prepend: site.baseurl}}" class="mdl-tabs__tab  {% if page.sidebar== 'developer-apps' %}is-active{% endif %}">Develop</a>
        <a href="{{'/developer/earn'| prepend: site.baseurl}}" class="mdl-tabs__tab {% if page.sidebar== 'earn' %}is-active{% endif %}">Earn</a>
        <a href="{{'/developer/samples'| prepend: site.baseurl}}" class="mdl-tabs__tab {% if page.sidebar== 'samples' %}is-active{% endif %}">Samples</a>
    </div>
</div>