<footer class="page-footer transparent darken-1 page-footer-custom">
    <div class="container transparent darken-3 white-text max-padding">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text">Augle.me</h5>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text">Developer</h5>
                <ul>
                    <li><a class="grey-text" href="http://www.augle.me">Augle.me</a></li>
                    <li><a class="grey-text" href="http://www.augle.me/blog">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright transparent">
        <div class="container transparent grey-text ">
            © 2017 Augle
        </div>
    </div>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107079517-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107079517-1');
</script>
