---
---

@import "base";
@import "syntax-highlighting";

p{
  color: #757575;
}
.home-card{
  width: 100%;
  height: 215px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .card-content{
    overflow: hidden;
  }
}
//.mdl-layout__header-row.augle-header{
//  background-color: white;
//}
.main-link-card{
  width:100%;
  min-height:60px;
  .mdl-card__title{
    height:60px;
  }
}

code{
  background-color: #efefef;
  padding: 2px 4px;
  border-radius: 5px;
}
pre >code {

  background-color: transparent;
  padding: 0;
  border-radius: 0;
}
.page-content {
  h1{
    color: black;
  }
  h2,h3,h4,h5,h6{
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0;
  }
}
hr{
  height: 1px;
  margin: 7px 0 12px;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
}

.error-codes-table{
  width: 50%;
  margin: 0 auto;
  font-size: 1.25em;
   td{
    text-align: left !important;
  }
}
.notice {
  padding: 20px;
  &.important{
    background-color: orangered;
    color: white;
  }
  &.normal{
    background-color: cornflowerblue;
  }
  &.tip{
    background-color: greenyellow;
  }
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover{
  color: inherit;
}

.max-padding{
  padding: 20px;
}
.page-footer-custom{
  padding-top: 0;
}
.breadcrumb:before{
  color: #607d8b !important;
}
.breadcrumb-nav .nav-wrapper{
  padding-left: 10px;
  background-color: $main-bg;
}
nav.breadcrumb-nav{
  margin-top: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
}