<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="container">
    {% include breadcrumbs-strip.html %}
    <div class="row">
        <div class="col s12">
            {{content}}
        </div>
    </div>
    <div class="row">
        {% for linkBlock in page.linkBlocks%}
        <div class="col s12 m3">
            <div class="card hoverable">
                <a href="{{linkBlock.link}}">
                    <div class="card-content main-link-card">
                <span class="card-title">
                    <strong>{{linkBlock.name}}</strong>
                </span>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include footer.html %}
</body>
</html>
