<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
      {% include header.html %}
      {% include tabs.html %}

      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              {{content}}
            </div>
            {{page.linksBlock}}
          </div>
        </div>
        {% include footer.html %}
      </main>
    </div>
  </body>
</html>
