<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}

<div class="container">
    <!--{% include developer-tabs.html %}-->

    <div class="row">
        <div class="col s12">
            {{ content }}
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card hoverable  home-card">
                <div class="card-content ">
                    <span class="card-title">Design, Develop & Deploy</span>
                    <p>Complete information on what a developer can do on augle platform.</p>
                </div>
                <div class="card-action">
                    <a href="apps">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card hoverable  home-card">
                <div class="card-content ">
                    <span class="card-title">Earn</span>
                    <p class="">Developer can earn and benefit form augle platform. See the different ways you can
                        monetize
                        you apps</p>
                </div>
                <div class="card-action">
                    <a href="earn">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card hoverable  home-card">
                <div class="card-content ">
                    <span class="card-title">Video Tutorials</span>
                    <p>Coming soon...</p>
                </div>
                <div class="card-action">
                    <a href="videos">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card hoverable  home-card">
                <div class="card-content ">
                    <span class="card-title">Samples</span>
                    <p>Coming soon...</p>
                </div>
                <div class="card-action">
                    <a href="samples">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card hoverable  home-card">
                <div class="card-content ">
                    <span class="card-title">Support</span>
                    <p>Coming soon...</p>
                </div>
                <div class="card-action">
                    <a href="support">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
