<!DOCTYPE html>
<html>
{% include head.html %}
<body>

<ul id="slide-out" class="side-nav">
    <li><div class="user-view">
        <div class="background">
            <img src="images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
{% include header.html %}
{% include _title_bar.html %}
<div class="container">
    {% include breadcrumbs-strip.html %}
    <div class="page-content">
        <div class="row">
            <div class="col s12 m9 ">
                {{ content }}
            </div>
            <div class="col s12 m3 pull-s12">
                <ul id="submenu">

                </ul>
                <script type="text/javascript">
                    $( document ).ready(function() {
                        var submenu = $('#submenu');
                        if ($(window).scrollTop() >= 260) {
                            submenu.addClass('fixed-header');
                        }

                        $(window).scroll(function(){
                            if ($(window).scrollTop() >= 260) {
                                submenu.addClass('fixed-header');
                            }
                            else {
                                submenu.removeClass('fixed-header');
                            }
                        });
                        $('h4').each(function(index, item) {
                            console.log();
                            submenu.append("<li><a class='submenu-item' href='#"+$(item).attr('id')+"'>"+$(item).text()+"</a></li>");
                        });
                    })
                </script>
            </div>
        </div>

    </div>
</div>
{% include footer.html %}
</body>
</html>
