<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="mdl-layout mdl-js-layout">
      {% include home-header.html %}

      <main class="mdl-layout__content">
        <div class="page-content">
          {{ content }}
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">

              <div class=" mdl-card mdl-shadow--2dp home-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Design, Develop & Deploy</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Complete information on what a developer can do on augle platform.
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="design">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">

              <div class=" mdl-card mdl-shadow--2dp home-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Earn</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Developer can earn and benefit form augle platform. See the different ways you can monetize you apps
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="earn">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">

              <div class=" mdl-card mdl-shadow--2dp home-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Video Tutorials</h2>
                </div>
                <div class="mdl-card__supporting-text">
                 Coming soon...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="videos">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">

              <div class=" mdl-card mdl-shadow--2dp home-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Samples</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Coming soon...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="samples">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">

              <div class=" mdl-card mdl-shadow--2dp home-card">
                <div class="mdl-card__title">
                  <h2 class="mdl-card__title-text">Support</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Coming soon...
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="support">
                    Get Started
                  </a>
                </div>
                <div class="mdl-card__menu">
                  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                    <i class="material-icons">share</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% include footer.html %}
      </main>
    </div>
  </body>
</html>
